@font-face {
  font-family: "Shree Devanagari 714";
  font-weight: 400;
  src: url("../fonts/Shree-Devanagari-714/Shree-Devanagari-714.woff2") format("woff2"),
    url("../fonts/Shree-Devanagari-714/Shree-Devanagari-714.woff") format("woff");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: url("../fonts/Quicksand/quicksand-v28-latin-regular.woff2") format("woff2"),
    url("../fonts/Quicksand/quicksand-v28-latin-regular.woff") format("woff");
}
